@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bai Jamjuree;
}

:root{
  --kolor1: #2b054e;
  --kolor2: #443f8f; 
  --kolor2-tlo: #443f8fb3;
  --kolor3: #6578c4; 
  --kolor4: #84addb; 
  --kolor5: #aadef3; 
  --kolor6: rgb(41, 182, 48);
}

html, body {
  background: var(--kolor1);
  scroll-behavior: smooth;
  user-select: none;
}
#loading{
  background: var(--kolor1) url("../../photos/web/preloading.gif") no-repeat center center;
  background-size: 5%;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  position: fixed;
}
.back{
  position: fixed;
  bottom: 10px;
  right: -5%;
  background-color: var(--kolor5);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: var(--kolor1) 4px solid;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}
body nav {
  width: 100%;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body nav ul {
  display: flex;
  justify-content: space-between;
  width: 35%;
  padding-right: 10px;
}
.logo{
  width: 65%;
  display: flex;
  justify-content: left;
}
.logo-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 20%;
}
.logo ion-icon{
  font-size: 2em;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  color: var(--kolor1);
}
.logo-icon .logo-icon-fb:hover{
  color: rgb(66 103 178);
}
.logo-icon .logo-icon-dc:hover{
  color: #7289da;
}
.logo-icon .logo-icon-ig:hover{
  color: #fa7e1e;
}
body nav ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
body nav .menu li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
body nav .menu li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--kolor1);
}
body nav .menu li a .text {
  position: absolute;
  color: var(--kolor1);
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-25px);
}
body nav .menu li.active a .icon {
  transform: translateY(32px);
}
body nav .menu li.active a .text {
  opacity: 1;
  transform: translateY(-15px);
}
body nav .menu li:nth-child(1).active ~ .indicator {
  transform: translateX(0%);
}
body nav .menu li:nth-child(2).active ~ .indicator {
  transform: translateX(145px);
}
body nav .menu li:nth-child(3).active ~ .indicator {
  transform: translateX(293px);
}
body nav .menu li:nth-child(4).active ~ .indicator {
  transform: translateX(439px);
}
body nav .menu li:nth-child(5).active ~ .indicator {
  transform: translateX(585px);
}
body nav .indicator {
  position: absolute;
  top: 49%;
  width: 70px;
  height: 70px;
  background: var(--kolor4);
  border-radius: 50%;
  border: 5px solid var(--kolor1);
  transition: 0.5s;
}
.stopka{
  width: 100%;
  height: 150px;
  background-color: var(--kolor2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
}
.przyciski{
  width:80%;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: auto;
  font-weight: bolder;
}
.przyciski a:visited{
  color: white;
  }
.przyciski a{
  color: white;
  text-decoration:none
}
#home{
  margin: 20px;
  cursor: pointer;
  color: white;
}
#onas{
  margin: 20px;
  cursor: pointer;
}
#oferta{
  margin: 20px;
  cursor: pointer;
}
#blog{
  margin: 20px;
  cursor: pointer;
}
#kontakt{
  margin: 20px;
  cursor: pointer;
}
#copyright{
  color: white;
  cursor: pointer;
  font-weight: bolder;
}  






.pieniadze{
  width: 100%;
  color: white;
  margin-bottom: 50px;
}
.pieniadze-oplacalnosc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.pieniadze-oplacalnosc-zdjecia{
  width: 40%;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.3s;
}
.pieniadze-oplacalnosc-zdjecia img{
  width: 150px;
  height: 150px;
  transition: 0.3s;
  border-radius: 100%;
}
.zdjecia-klasa{
  text-align: center;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: cv 1s;
  transition: 0.3s;
}
.zdjecia-klasa h1{
  display: none;
  position: absolute;
  top: 110px;
  font-weight: 500;
  font-size: 25px;
}
.zdjecia-klasa:hover h1{
  display: block;
  animation: imiona 0.5s;
}
.zdjecia-klasa:hover img{
  margin-top: -50px;
  scale: 1.05;
}
.pieniadze-oplacalnosc-tekst, .pieniadze-oplacalnosc-tekst-2{
  width: 55%;
  height: 350px;
  font-size: 20px;
  padding: 40px;
  font-size: 21px;
  text-align: center;
}
@keyframes imiona {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.pieniadze-pakiety{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.pieniadze-pakiety-karty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 28%;
  height: 550px;
  border-radius: 15px;
  font-size: 25px;
  padding: 20px;
  background-color: var(--kolor3);
  transition: 0.3s;
  animation: cv 1s;
  cursor: pointer;
}
.pieniadze-pakiety-karty .icon-ok-circled{
  transition: 0.3s;
}
.pieniadze-pakiety-karty u{
  transition: 0.3s;
}
.pieniadze-pakiety-karty-tytul{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  transition: 0.3s;
}
.pieniadze-pakiety-karty-zalety{
  font-size: 23px;
  line-height: 150%;
}
.pieniadze-pakiety-karty-cena{
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
}
@keyframes cv {
  0%{
    opacity: 0;
    margin-top: 150px;
  }
  100%{
    opacity: 1;
    margin-top: 0px;
  }
}

#mobile{
  position: fixed;
  min-width: 50px;
  max-width: 150px;
  height: 50px;
  background-color: var(--kolor5);
  top: 300px;
  left: 0;
  border-radius: 0px 10px 10px 0px;
  z-index: 99998;
  display: none;
  color: white;
}
.mobile-button ion-icon{
  font-size: 50px;
  color: white;
}
.media ion-icon{
  font-size: 25px;
}
.mobile-button a{
  text-decoration: none;
  color: inherit;
}
.mobile-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.powrot{
  display: none;
  text-align: right;
  width: 150px;
}
.mobile-button-action{
  display: none;
  width: 150px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
}
.mobile-button-action:hover{
  background-color: var(--kolor3);
}
.media{
  display: none;
  width: 150px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.stronki ion-icon{
  margin-bottom: 40px;
  font-size: 40px;
}

#mobile-menu-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  transition: 0.3s;
  animation: text-poj 0.5s;
}

.end{
  width: 100%;
  height: 120px;
  background-color: var(--kolor2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
  letter-spacing: 2px;
}
.buttons a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin: 0px 20px 0px 20px ;
}
.buttons{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.copy{
  width: 50%;
  text-align: center;
  font-weight: 600;
}
#href:hover{
  text-decoration: underline 1.5px; 
}
@media  (max-width: 1900px) {
  #mobile{display: flex;}
  body nav{display: none;}
  .buttons{display: none;}
  .end{ height: 80px;}
  .pieniadze-pakiety{flex-direction: column;}
  .pieniadze-pakiety-karty{width: 85%; margin: 20px 0px 20px 0px; animation: none;}
  .pieniadze-oplacalnosc-zdjecia{display: flex; justify-content: space-around; width: 60%;}
  .pieniadze-oplacalnosc-tekst{display: none;}
}
@media (min-width: 1900px) {
  .pieniadze-pakiety-karty:hover .icon-ok-circled{
    color: var(--kolor6);
  }
  .pieniadze-pakiety-karty:hover u{
    color: var(--kolor6);
    font-size: 40px;
  }
  .pieniadze-pakiety-karty:hover .pieniadze-pakiety-karty-tytul{
    color: var(--kolor6);
    font-size: 40px;
  }
  .pieniadze-pakiety-karty:hover {
    width: 35%;
  }
}

@media (max-width:750px){
  .pieniadze-pakiety-karty-tytul{font-size: 24px;}
  .pieniadze-pakiety-karty-zalety{font-size: 19px;}
  .pieniadze-pakiety-karty-cena{font-size: 24px;}
}
@media (max-width:550px){
  .pieniadze-oplacalnosc-zdjecia img{width: 75px; height: 75px;}
  .zdjecia-klasa h1{top: 35px; font-size: 15px;}
  .zdjecia-klasa{margin: 0px 5px 0px 5px;}
}
@media (max-width:500px){
  .pieniadze-pakiety-karty-tytul{font-size: 22px;}
  .pieniadze-pakiety-karty-zalety{font-size: 17px;}
  .pieniadze-pakiety-karty-cena{font-size: 22px;}
}
@media (max-width:300px){
  .pieniadze-pakiety-karty-tytul{font-size: 18px;}
  .pieniadze-pakiety-karty-zalety{font-size: 13px;}
  .pieniadze-pakiety-karty-cena{font-size: 18px;}
  .pieniadze-oplacalnosc-zdjecia{display: none;}
}


























@keyframes text-poj {
  0%{
    display: none;
    opacity: 0;
  }
  100%{
    display: block;
    opacity: 1;
  }
}
@keyframes menu {
  0%{
    left: -150px;
  }
  100%{
    left: 0;
  }
}