@media (max-width:1700px){
    .menu-przyciski{
        width: 50%;
    }
}
@media (max-width:1500px){
    .menu-przyciski{
        width: 60%;
    }
    .przywitanie{
        font-size: 60px;
    }
    .opis{
        font-size: 15px;
    }
    .jezyk-opcje{
        font-size: 23px;
    }
}
@media (max-width:1350px){
    .menu-przyciski{
        width: 70%;
    }
    .przywitanie{
        font-size: 55px;
    }
    .opis{
        font-size: 15px;
    }
    .jezyk-opcje{
        font-size: 21px;
    }
    #arrow{
        bottom: -50px;
        width: 5%;
    }
    @keyframes arrow{
        0%{
            bottom: -40px;
        }
        100%{
            bottom: -50px;
        }
    }
}
@media (max-width:1150px){
    .menu-przyciski{
        width: 90%;
    }
    .przywitanie{
        font-size: 50px;
    }
    .opis{
        font-size: 15px;
    }
    .jezyk-opcje{
        font-size: 21px;
    }
    .grupa1  img{
        width: 40%;
    }
    .tekst{
        width: 50%;
    }
}
@media (max-width:1050px){
    .menu-przyciski{
        width: 120%;
    }
    .przywitanie{
        font-size: 45px;
    }
    .opis{
        font-size: 15px;
    }
    .jezyk-opcje{
        font-size: 21px;
    }
    .grupa1  img{
        width: 45%;
    }
    .tekst{
        width: 50%;
    }
}
@media (max-width:1000px){
    .menu-przyciski{
        display: none;
    }

}