@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bai Jamjuree;
}

:root{
  --kolor1: #2b054e;
  --kolor2: #443f8f; 
  --kolor2-tlo: #443f8fb3;
  --kolor3: #6578c4; 
  --kolor4: #84addb; 
  --kolor5: #aadef3; 
}

html, body {
  background: var(--kolor1);
  scroll-behavior: smooth;
  user-select: none;
}
#loading{
  background: var(--kolor1) url("photos/web/preloading.gif") no-repeat center center;
  background-size: 5%;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  position: fixed;
}
.back{
  position: fixed;
  bottom: 10px;
  right: -5%;
  background-color: var(--kolor5);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: var(--kolor1) 4px solid;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}
body nav {
  width: 100%;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body nav ul {
  display: flex;
  justify-content: space-between;
  width: 35%;
  padding-right: 10px;
}
.logo{
  width: 65%;
  display: flex;
  justify-content: left;
}
.logo-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 20%;
}
.logo ion-icon{
  font-size: 2em;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  color: var(--kolor1);
}
.logo-icon .logo-icon-fb:hover{
  color: rgb(66 103 178);
}
.logo-icon .logo-icon-dc:hover{
  color: #7289da;
}
.logo-icon .logo-icon-ig:hover{
  color: #fa7e1e;
}
body nav ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
body nav .menu li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
body nav .menu li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--kolor1);
}
body nav .menu li a .text {
  position: absolute;
  color: var(--kolor1);
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-25px);
}
body nav .menu li.active a .icon {
  transform: translateY(32px);
}
body nav .menu li.active a .text {
  opacity: 1;
  transform: translateY(-15px);
}
body nav .menu li:nth-child(1).active ~ .indicator {
  transform: translateX(0%);
}
body nav .menu li:nth-child(2).active ~ .indicator {
  transform: translateX(145px);
}
body nav .menu li:nth-child(3).active ~ .indicator {
  transform: translateX(293px);
}
body nav .menu li:nth-child(4).active ~ .indicator {
  transform: translateX(439px);
}
body nav .menu li:nth-child(5).active ~ .indicator {
  transform: translateX(585px);
}
body nav .indicator {
  position: absolute;
  top: 49%;
  width: 70px;
  height: 70px;
  background: var(--kolor4);
  border-radius: 50%;
  border: 5px solid var(--kolor1);
  transition: 0.5s;
}
.everything{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
}
#big-logo{
  margin: 4% 0% 4% 0%;
  width: 35%;
  transition: 0.3s;
}
#big-logo:hover{
  scale: 1.05;
}
.everything-footage, .everything-footage-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 575px;
  position: relative;
  background-image: url('photos/content/photo.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  animation: tlo 2s;
}

.everything-footage-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(90deg, var(--kolor4)  50%, #ffffff 50%);
  background-size: 200%;
  background-position: right;
  position: absolute;
  top: 70%;
  width: 225px;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  transition: 0.6s ease-out; 
  cursor: pointer;
}
.everything-footage-button:hover{
  background-position:left;
}
.everything-footage-title{
  position: absolute;
  top: 90px;
  font-size: 50px;
  font-weight: 600;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.everything-footage-title-typing{
  height: 20px;
  text-align: center;
}
.everything-description{
  background-color: var(--kolor3);
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-opinion-title, .everything-footage-2-about-title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 30px;
  font-weight: 600;
}
.services-opinion{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 500px;
  background-color: var(--kolor4);
}
.services-opinion-card{
  width: 15%;
  height: 250px;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
  position: relative;
  box-shadow: 0px 15px 30px -5px rgba(66, 68, 90, 1);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.services-opinion-card:hover{
  margin-top: 0px;
}
.services-opinion-card-name{
  position: absolute;
  top: 30px;
  left: 170px;
  font-weight: 600;
}
.services-opinion-card-ratings{
  position: absolute;
  top: 55px;
  left: 130px;
  color: rgb(240, 187, 81)
}
.services-opinion-card-description{
  width: 85%;
  position: absolute;
  top: 110px;
}
.services-opinion-card-cards{
  margin:40px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.services-opinion hr, .everything-footage-2-about-title hr, .everything-tekst hr{
  border: var(--kolor2) 2px solid;
  margin-top: 0;
  width: 100%;
  border-radius: 5px;
}
.services-opinion-card-photo img{
  position: absolute;
  width: 85px;
  height: 85px;
  top: 15px;
  left: 25px;
  border-radius: 100%;
}
.everything-footage-2-about{
  background-color: var(--kolor2);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-top: 50px;
  margin-top: 50%;
  transition: 0.3s;
  z-index: 100;
}
.everything-footage-2-about-card-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  transition: 0.3s;
}
.everything-footage-2-about-title{color: white;}
.everything-footage-2-about-card{
  width: 500px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px -5px rgba(66, 68, 90, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.everything-footage-2-about-card:nth-child(1){
  background-image: url('photos/aktu/aktu11.jpg');
}
.everything-footage-2-about-card:nth-child(2){
  background-image: url('photos/aktu/aktu22.jpg');
}
.everything-footage-2-about-card:nth-child(3){
  background-image: url('photos/aktu/aktu33.png');
}
.everything-footage-2-about-card-text{
  position: absolute;
  top: 83.5%;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  height: 50px;
  background-color: var(--kolor2-tlo);
  color: white;
  transition: 0.5s;
}
.everything-footage-2-about-card:hover .everything-footage-2-about-card-text{
  background-color: var(--kolor2);
  height: 120px;
  top: 63%;
}
.everything-footage-2-about-card-text p{
  display: none;
  font-size: 15px;
  font-weight: 400;
}
.everything-footage-2-about-card:hover .everything-footage-2-about-card-text p{
  display: block;
  animation: text-poj 1s;
}
.contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 250px;
  background-color: var(--kolor3);
  z-index: 99;
  transition: 0.3s;
}
.contact form{
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url("photos/web/newsletter.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 200px;
  transition: 0.3s;
}
#contact-title{
  font-size: 30px;
  font-weight: 600;
  height: 51px;
  color: white;
}
#contact-description{
  color: white;
  margin-bottom: 10px;
}
#contact-form-email{
  width: 100%;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 0;
  border: none;
  outline: none;
  background-color: inherit;
  color: white;
  border-bottom: 4px var(--kolor2) solid;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: 0.3s;
}
#contact-form-email::placeholder{
  color: white;
  font-family: Bai Jamjuree;
}
.contact hr{
  border: var(--kolor2) 2px solid;
  margin-top: 0;
  width: 100%;
  border-radius: 0;
}
.contact button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  margin-right: -12px;
  align-self: flex-end;
  text-align: center;
  font-family: Bai Jamjuree;
  font-weight: 500;
  cursor: pointer;
  background-color: inherit;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}
.contact button:hover{
  scale: 1.05;
}
.everything-photo{
  margin-top: 700px;
  padding-top: 50px;
}
.everything-photo-right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.everything-photo-right ul{
  position: relative;
  transform: skewY(15deg);
  cursor: pointer;
  scale: 1.5;
}
.everything-photo-right ul li{
  position: relative;
  list-style: none;
  width: 200px;
  background-color: var(--kolor3);
  padding: 15px;
  z-index: var(--i);
  transition: 0.5s;
}
.everything-photo-right ul li:hover{
  background: var(--kolor5);
  transform: translateX(-50px);
}
.everything-photo-right ul li::before{
  content: '';
  position: absolute;
  top: 0;
  left: 200px;
  width: 40px;
  height: 100%;
  background-color: var(--kolor3);
  transform-origin: left;
  transform: skewY(-45deg);
  transition: 0.5s;
}
.everything-photo-right ul li:hover::before{
  background: var(--kolor5);
}
.everything-photo-right ul li:hover::after{
  background: var(--kolor5);
}
.everything-photo-right ul li::after{
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: var(--kolor3);
  transform-origin: bottom;
  transform: skewX(-45deg);
  transition: 0.5s;
  cursor: pointer;
}
.everything-photo-right ul li a{
  text-decoration: none;
  color: var(--kolor1);
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.everything-photo-right ul li ion-icon{
  font-size: 20px;
  margin-bottom: -5px;
}
.everything-photo-right ul li:hover a{
  color: #fff;
}
.everything-photo{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 40px;
}
.everything-photo-left{
  width: 75%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.everything-photo-left-info{
  width: 35%;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.gallery {
  position: relative;
  width: 71%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
}
.everything-photo-left-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  animation: gallery-slide 15s infinite alternate;
}
.everything-photo-left-slider img {
  float: left;
  width: 20%;
  height: 100%;
}

.everything-photo-left-info:nth-of-type(2){
  background-image: url('photos/info/info11.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.everything-photo-left-info:nth-of-type(3){
  background-image: url('photos/info/info22.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.everything-photo-left-info:nth-of-type(4){
  background-image: url('photos/info/info33.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.everything-photo-left-info:nth-of-type(5){
  background-image: url('photos/info/info44.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.everything-photo-left-info:hover .everything-footage-2-about-card-text{
  background-color: var(--kolor2);
  height: 120px;
  top: 63%;
}
.everything-photo-left-info:hover .everything-footage-2-about-card-text p{
  display: block;
  animation: text-poj 1s;
}
.stopka{
  width: 100%;
  max-height: 150px;
  background-color: var(--kolor2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 40px 20px;
}
.przyciski{
  width:80%;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: auto;
  font-weight: bolder;
}
.przyciski a:visited{
  color: white;
  }
.przyciski a{
  color: white;
  text-decoration:none
}
#home{
  margin: 20px;
  cursor: pointer;
  color: white;
}
#onas{
  margin: 20px;
  cursor: pointer;
}
#oferta{
  margin: 20px;
  cursor: pointer;
}
#blog{
  margin: 20px;
  cursor: pointer;
}
#kontakt{
  margin: 20px;
  cursor: pointer;
}
#copyright{
  color: white;
  cursor: pointer;
  font-weight: bolder;
}  
.everything-tekst{
  background-color: var(--kolor3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 250px;
  color: white;
  padding-top: 100px;
}
.everything-tekst-tytul{
  font-size: 25px;
  font-weight: 600;
}
.everything-tekst-opis{
  margin-top: 25px;
  width: 60%;
  padding-bottom: 50px;
  font-size: 18px;
}




#mobile{
  position: fixed;
  min-width: 50px;
  max-width: 150px;
  height: 50px;
  background-color: var(--kolor5);
  top: 300px;
  left: 0;
  border-radius: 0px 10px 10px 0px;
  z-index: 99998;
  display: none;
  color: white;
}
.mobile-button ion-icon{
  font-size: 50px;
  color: white;
}
.media ion-icon{
  font-size: 25px;
}
.mobile-button a{
  text-decoration: none;
  color: inherit;
}
.mobile-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.powrot{
  display: none;
  text-align: right;
  width: 150px;
}
.mobile-button-action{
  display: none;
  width: 150px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
}
.mobile-button-action:hover{
  background-color: var(--kolor3);
}
.media{
  display: none;
  width: 150px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.stronki ion-icon{
  margin-bottom: 40px;
  font-size: 40px;
}

#mobile-menu-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  transition: 0.3s;
  animation: text-poj 0.5s;
}










@keyframes menu {
  0%{
    left: -150px;
  }
  100%{
    left: 0;
  }
}
@keyframes gallery-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}
@keyframes text-poj {
  0%{
    display: none;
    opacity: 0;
  }
  100%{
    display: block;
    opacity: 1;
  }
}
@keyframes about-poj {
  0%{
    opacity: 0.5;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tlo {
  0%{
    background-position: right;
  }
  100%{
    background-position: center;
  }
}
@media  (max-width: 1900px) {
  .everything-footage-button{display: none;}
  #mobile{display: flex;}
  body nav{display: none;}
  #big-logo{width: 20%;}
  .services-opinion-card-description{display: none;}
  .services-opinion-card-photo img{position: static;}
  .services-opinion-card-name{position: static;}
  .services-opinion-card-ratings{position: static;}
  .services-opinion-card{width: 200px; height: 175px;}
  .services-opinion-card:hover{margin-top: 10px;}
  .services-opinion{min-height: 400px;}
  .services-opinion-card-cards{margin-top: 20px;}
  .everything-footage-2-about{margin-top: 1250px; background-color: var(--kolor3);}
  .everything-tekst{display: none;}
  .everything-photo-left-slider{display: none;}
  .everything-photo-left-info{width: 75%; height: 250px;  box-shadow: none ;}
  .everything-footage-2-about-card{width: 75%; height: 250px;  box-shadow: none ;}
  .everything-footage-2-about-card-cards{flex-direction: column; height: 750px; margin-top: 50px;}
  .everything-photo-left-info:hover .everything-footage-2-about-card-text{top: 0; height: 100%; background-color: var(--kolor2-tlo);}
  .everything-footage-2-about-card:hover .everything-footage-2-about-card-text{top: 0; height: 100%; background-color: var(--kolor2-tlo);}
  .everything-footage-2-about-card-text p{font-size: 13px;}
  .everything-footage-2-about-card-text{font-size:18px; text-align: center; top: 75%;height: 70px; display: flex; justify-content: center; align-items: center; flex-direction: column;}
  .everything-photo{margin-top: 750px;}
  .everything-photo-right{display: none;}
  .everything-photo-left{width: 100%;}
  .przyciski{display: none;}
  .stopka{margin-top: 400px;}
}
@media  (max-width: 1000px) {
  .back{display: none;}
  body nav{display: none;}
  #big-logo{width: 60%;}
  .everything-footage, .everything-footage-2{height: 340px;}
  .everything-footage-title h1{font-size: 55px;}
  .everything-footage-title-typing{font-size: 35px;}
  .everything-footage-button{scale: 0.75;}
  .services-opinion-title, .everything-footage-2-about-title{font-size: 25px;}
  .services-opinion-description, .everything-footage-2-about-des{font-size: 15px; font-weight: 500; width: 60%;}
  .services-opinion-card:nth-of-type(3){display: none;}
  .services-opinion-card:nth-of-type(4){display: none;}
  .services-opinion-card:nth-of-type(5){display: none;}
  .contact form{width: 350px; background-size: 150px;}
  .everything-tekst{height: 300px; padding: 100px 0px 50px 0px;}
}
@media  (max-width: 400px){
  .contact form{background: none;align-items: center;}
  .contact button{align-self: center;}
  #contact-form-email{width:75%;}
}