@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bai Jamjuree;
}

:root{
  --kolor1: #2b054e;
  --kolor2: #443f8f; 
  --kolor2-tlo: #443f8fb3;
  --kolor3: #6578c4; 
  --kolor4: #84addb; 
  --kolor5: #aadef3; 
}

html, body {
  background: var(--kolor1);
  scroll-behavior: smooth;
  user-select: none;
}
#loading{
  background: var(--kolor1) url("../../photos/web/preloading.gif") no-repeat center center;
  background-size: 5%;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  position: fixed;
}
.back{
  position: fixed;
  bottom: 10px;
  right: -5%;
  background-color: var(--kolor5);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: var(--kolor1) 4px solid;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}
body nav {
  width: 100%;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body nav ul {
  display: flex;
  justify-content: space-between;
  width: 35%;
  padding-right: 10px;
}
.logo{
  width: 65%;
  display: flex;
  justify-content: left;
}
.logo-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 20%;
}
.logo ion-icon{
  font-size: 2em;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  color: var(--kolor1);
}
.logo-icon .logo-icon-fb:hover{
  color: rgb(66 103 178);
}
.logo-icon .logo-icon-dc:hover{
  color: #7289da;
}
.logo-icon .logo-icon-ig:hover{
  color: #fa7e1e;
}
body nav ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
body nav .menu li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
body nav .menu li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--kolor1);
}
body nav .menu li a .text {
  position: absolute;
  color: var(--kolor1);
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-25px);
}
body nav .menu li.active a .icon {
  transform: translateY(32px);
}
body nav .menu li.active a .text {
  opacity: 1;
  transform: translateY(-15px);
}
body nav .menu li:nth-child(1).active ~ .indicator {
  transform: translateX(0%);
}
body nav .menu li:nth-child(2).active ~ .indicator {
  transform: translateX(145px);
}
body nav .menu li:nth-child(3).active ~ .indicator {
  transform: translateX(293px);
}
body nav .menu li:nth-child(4).active ~ .indicator {
  transform: translateX(439px);
}
body nav .menu li:nth-child(5).active ~ .indicator {
  transform: translateX(585px);
}
body nav .indicator {
  position: absolute;
  top: 49%;
  width: 70px;
  height: 70px;
  background: var(--kolor4);
  border-radius: 50%;
  border: 5px solid var(--kolor1);
  transition: 0.5s;
}

.end1, .end2{
  width: 100%;
  height: 120px;
  background-color: var(--kolor2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
  letter-spacing: 2px;
}
.end2{display: none;}
.buttons a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin: 0px 20px 0px 20px ;
}
.buttons{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.copy{
  width: 50%;
  text-align: center;
  font-weight: 600;
}
#href:hover{
  text-decoration: underline 1.5px; 
}
.container
{
    position: relative;
    width: max-content;
    max-width: 1000px;
    background: #fff;
    margin: 50px 0px 50px 0px;
    box-shadow: 0 50px 75px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
    animation: cv 1s;
    border-radius: 15px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}
.container .top
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}
.container .top .imgBx
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.container .top .imgBx .box
{
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    border: 2px solid var(--kolor2);
}
.container .top .imgBx .box img
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .top .profileText
{
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}
.container .top .profileText h3
{
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;
}
.container .top .profileText h3 span
{
    position: relative;
    font-size: 0.5em;
    font-weight: 300;
    top: -10px;
}
.container .contentBox
{
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px;
}
.container .contentBox h3
{
    border-left: 4px solid var(--kolor2);
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
}
.container .contentBox ul
{
    position: relative;
    margin: 10px 0;
}
.container .contentBox ul li
{
    list-style: none;
    margin: 25px 0;
    line-height: 1em;
    color: #333;
    cursor: pointer;
    display: flex;
}
.container .contentBox ul li ion-icon
{
    font-size: 1.2em;
    margin-right: 10px;
    color: var(--kolor4);
}
.container .contentBox ul.education li
{
    flex-direction: column;
    margin: 25px;
}
h5
{
    color: var(--kolor4)
}
h4
{
    color: #333;
    font-weight: 500;
    margin: 5px 0;
}
h6
{
    color: #666;
    font-weight: 300;
    font-size: 1em;
}
.language li
{
    flex-direction: column;
}
.language li span
{
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
.language .percent
{
    position: relative;
    width: 100%;
    background: #e3e3e3;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}
.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--kolor4);
}
.container .contentBox ul.interest
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container .contentBox ul.interest li
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.container .contentBox ul.interest li .icon
{
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--kolor4);
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contentBox ul.interest li .icon ion-icon
{
    color: #fff;
    margin-right: 0;
}
p
{
    font-style: 300;
}
.rightSide
{
    padding-left: 40px;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 150px;
    margin-bottom: 10px;
}
.about .box .year_company h5
{
    color: #333;
    font-weight: 600;
}
.about .box .year_company h5:nth-child(1)
{
    color: var(--kolor4);
}
.about .box .text h4
{
    color: var(--kolor4);
    font-weight: 16px;
    margin: 0;
}
.about.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.about.skills .box h4
{
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}
.about.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #e3e3e3;
}
.about.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--kolor4);
}
#mobile{
  position: fixed;
  min-width: 50px;
  max-width: 150px;
  height: 50px;
  background-color: var(--kolor5);
  top: 300px;
  left: 0;
  border-radius: 0px 10px 10px 0px;
  z-index: 99998;
  display: none;
  color: white;
}
.mobile-button ion-icon{
  font-size: 50px;
  color: white;
}
.media ion-icon{
  font-size: 25px;
}
.mobile-button a{
  text-decoration: none;
  color: inherit;
}
.mobile-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.powrot{
  display: none;
  text-align: right;
  width: 150px;
}
.mobile-button-action{
  display: none;
  width: 150px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
}
.mobile-button-action:hover{
  background-color: var(--kolor3);
}
.media{
  display: none;
  width: 150px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.stronki ion-icon{
  margin-bottom: 40px;
  font-size: 40px;
}

#mobile-menu-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  transition: 0.3s;
  animation: text-poj 0.5s;
}
@keyframes menu {
  0%{
    left: -150px;
  }
  100%{
    left: 0;
  }
}
@keyframes text-poj {
  0%{
    display: none;
    opacity: 0;
  }
  100%{
    display: block;
    opacity: 1;
  }
}
@keyframes cv {
  0%{
    opacity: 0;
    margin-top: 100px;
  }
  100%{
    opacity: 1;
    margin-top: 50px;
  }
}
@media  (max-width: 1900px) {
  #mobile{display: flex;}
  body nav{display: none;}
  .buttons{display: none;}
  .end1{height: 80px;}
  .back{display: none;}
  #mobile{display: flex;}
}
@media(max-width:1000px){
  .end1{display: none;}
  .end2{display: flex;}
  .container{margin: 50px 0px 0px 0px;}
}

